PORT=8090
app_id=d476cad9-a7ac-45d0-a7f8-2afc3a7cc0cc
app_password=MxpqgfjTQVBfxe7w1uRPGNk


MICROSOFT_APP_ID=d476cad9-a7ac-45d0-a7f8-2afc3a7cc0cc
MICROSOFT_APP_PASSWORD=MxpqgfjTQVBfxe7w1uRPGNk

LAIS_END_POINT=http://lais-fala.mybluemix.net/api/fala
LAIS_CONNECTOR=LASA_LAIS_PERECIVEIS